.App {
  text-align: left;
}

/* .navStyle {
  color: 'white'
} */

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: darkgreen;
  color: lightgray;
}

.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* list-style: none; */
}

.box {
  margin: auto;
}

.grid {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.grid > div {
  flex-basis: auto;
}

