.App {
  text-align: left;
}

/* .navStyle {
  color: 'white'
} */

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: darkgreen;
  color: lightgray;
}

.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* list-style: none; */
}

.box {
  margin: auto;
}

.grid {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.grid > div {
  flex-basis: auto;
}

.signup-form {
  width: 90%;
  display: flex;
  flex-direction: column;
}

.signup-form--name-section {
  display: flex;
  width: 400px;
  margin-left: 20px;
}

.signup-form--name-section div {
  width: 100%;
}

.signup-form > div {
  margin-left: 20px;
  text-align: left;
}

.signup-form--title-name,
.signup-form--last-name {
  width: 199px;
}

.signup-form--last-name {
  margin-left: 2px;
}

.signup-form--email,
.signup-form--password {
  width: 400px;
}

.signup-form input {
  margin-bottom: 5px;
}

.signup-form--create-account-btn {
  width: 400px;
}

.signup-form--create-account-btn .btn-success {
  width: 400px;
}

.card-row {
  display: block;
}
/* div = block span = inline (can be changed in css) */